{% extends "base.html" %}

{% load static %}

{% block title %} Item page {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static "MainApp/colors.css" %}">
{% endblock style %}

{% block content %}

    {{ block.super }}

    <style>
    .img-fixed {
    width: 360px;
    height: 360px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    display: block;
    }
    </style>

    <h1>Товар ID # {{ item.id }}</h1>
    <h2>{{ item.name }}</h2>
    <p><strong>Бренд:</strong> {{ item.brand }}</p>

    <i>{{ item.discription }}</i>
    <br>
    <br>

    {% if image_url %}
        <img class="img-fixed" src="{{ image_url }}" alt="{{ item.name }}">
    {% else %}
        <p><em>Нет изображения</em></p>
    {% endif %}
    <br>
    {% if item.count == 0 %}
        <p style="color:#b00020"><strong>Товара нет на складе</strong></p>
    {% else %}
        Всего на складе: <strong>{{ item.count }}</strong>
    {% endif %}
    <br>
    <h3>Цвета</h3>
    <ul class='ul_no_mark'>
        {% for color in colors %}
            <li>
                <span class='color_box' style='background-color: {{ color.name }};'></span> {{ color.name }}
            </li>
        {% empty %}
            Информация по цветам отсутствует.
        {% endfor %}
    </ul>
    <br><br>
    {% include "footer.html" %}

{% endblock content %}
