{% extends "base.html" %}

{% block title %} Item list {% endblock title %}

{% block content %}

    {{ block.super }}

    <h1>Список товаров</h1>

    <div class="items">
        {% for SKU in SKU_List %}
        
            <div class="item">
                <a href="{% url "item_page" SKU.id %}"><strong>{{ SKU.name }}</strong></a>
                <div class="brand">{{ SKU.brand|default:"" }}</div><br>
                <div class="brand">{{ SKU.discription }}</div><br>
                {% if SKU.count == 0 %}
                <div class="qty out">товара нет на складе</div>
                {% else %}
                <div class="qty">Количество на складе: {{ SKU.count }}</div>
                {% endif %}
                
            </div>
        {% empty %}
        <p>Товары не найдены.</p>
        {% endfor %}

    </div>
    
{% endblock %}